footer#footer
    .footer
        .container
            .row
                .col-md-3
                    h3.footer-title Su Arıtma Ürünleri
                    ul.footer-list
                        li
                            a(href="" title="List Item") Stratos
                        li
                            a(href="" title="List Item") Stilmax
                        li
                            a(href="" title="List Item") Ecoplus
                        li
                            a(href="" title="List Item") Prizma
                        li
                            a(href="" title="List Item") Safir
                        li
                            a(href="" title="List Item") Aquabest
                        li
                            a(href="" title="List Item") Hf Serileri
                        li
                            a(href="" title="List Item") Direk Akışlı Sistemler
                        li
                            a(href="" title="List Item") Sebiller
                        li
                            a(href="" title="List Item") Endüstriyel R.O. Sistemler
                        li
                            a(href="" title="List Item") Kabinetli Sistemler
                .col-md-3
                    h3.footer-title Su Arıtma Ürünleri
                    ul.footer-list
                        li
                            a(href="" title="List Item") Stratos
                        li
                            a(href="" title="List Item") Stilmax
                        li
                            a(href="" title="List Item") Ecoplus
                        li
                            a(href="" title="List Item") Prizma
                        li
                            a(href="" title="List Item") Safir
                        li
                            a(href="" title="List Item") Aquabest
                        li
                            a(href="" title="List Item") Hf Serileri
                        li
                            a(href="" title="List Item") Direk Akışlı Sistemler
                        li
                            a(href="" title="List Item") Sebiller
                        li
                            a(href="" title="List Item") Endüstriyel R.O. Sistemler
                        li
                            a(href="" title="List Item") Kabinetli Sistemler
                .col-md-3
                    h3.footer-title Su Arıtma Ürünleri
                    ul.footer-list
                        li
                            a(href="" title="List Item") Stratos
                        li
                            a(href="" title="List Item") Stilmax
                        li
                            a(href="" title="List Item") Ecoplus
                        li
                            a(href="" title="List Item") Prizma
                        li
                            a(href="" title="List Item") Safir
                        li
                            a(href="" title="List Item") Aquabest
                        li
                            a(href="" title="List Item") Hf Serileri
                        li
                            a(href="" title="List Item") Direk Akışlı Sistemler
                        li
                            a(href="" title="List Item") Sebiller
                        li
                            a(href="" title="List Item") Endüstriyel R.O. Sistemler
                        li
                            a(href="" title="List Item") #{title}
                .col-md-3
                    h3.footer-title Bizi Takip Edin
                    .footer-social
                        a.button(href="" title="Social")
                            i.icon.icon-footer-facebook
                        a.button(href="" title="Social")
                            i.icon.icon-footer-twitter
                        a.button(href="" title="Social")
                            i.icon.icon-footer-instagram
    .copyright
        | Copyright © 2018 #{genel.copyright}.
