doctype html
html(lang="tr")
    head
        // Meta
        meta(charset="utf-8")
        - var genel = static.genelayar;
        title #{genel.title}
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="theme-color" content="#fff")
        meta(name="keywords" content= "" + genel.keywords )
        meta(name="description" content= "" + genel.description )
        // Stylesheets
        link(rel="stylesheet" href="assets/dist/css/custom/custom.css")
        script(src='/socket.io/socket.io.js')
    body
        include head
        #hero
            #heroSlider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .hero-item
                            .hero-item-image
                                img(src="assets/dist/img/hero-1.png" alt="Hero Image")
                            .hero-item-content
                                .container
                                    h2.hero-item-content-title
                                        strong R.O.
                                        |  Arıtma Sistemleri
                                    p.hero-item-content-text
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        | Suspendisse congue egestas tincidunt. Suspendisse erat
                                        | sapien, commodo eget blandit ac, bibendum eu risus.
                                        | Aenean tempor nulla in erat lacinia, eu scelerisque est
                                        | porttitor. Duis ac auctor ex. Cras tincidunt maximus ex.
                                        | Nunc tristique magna nec tellus volutpat sagittis.
                                    img.hero-item-content-image(src="assets/dist/img/hero-content-1.png" alt="Hero Image")
                    .swiper-slide
                        .hero-item
                            .hero-item-image
                                img(src="assets/dist/img/hero-1.png" alt="Hero Image")
                            .hero-item-content
                                .container
                                    h2.hero-item-content-title
                                        strong R.O.
                                        |  Arıtma Sistemleri - 2
                                    p.hero-item-content-text
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        | Suspendisse congue egestas tincidunt. Suspendisse erat
                                        | sapien, commodo eget blandit ac, bibendum eu risus.
                                        | Aenean tempor nulla in erat lacinia, eu scelerisque est
                                        | porttitor. Duis ac auctor ex. Cras tincidunt maximus ex.
                                        | Nunc tristique magna nec tellus volutpat sagittis.
                                    img.hero-item-content-image(src="../assets/dist/img/hero-content-1.png" alt="Hero Image")
                    .swiper-slide
                        .hero-item
                            .hero-item-image
                                img(src="assets/dist/img/hero-1.png" alt="Hero Image")
                            .hero-item-content
                                .container
                                    h2.hero-item-content-title
                                        strong R.O.
                                        |  Arıtma Sistemleri - 3
                                    p.hero-item-content-text
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        | Suspendisse congue egestas tincidunt. Suspendisse erat
                                        | sapien, commodo eget blandit ac, bibendum eu risus.
                                        | Aenean tempor nulla in erat lacinia, eu scelerisque est
                                        | porttitor. Duis ac auctor ex. Cras tincidunt maximus ex.
                                        | Nunc tristique magna nec tellus volutpat sagittis.
                                    img.hero-item-content-image(src="assets/dist/img/hero-content-1.png" alt="Hero Image")
            .hero-pagination
                span.hero-pagination-item.active
                span.hero-pagination-item
                span.hero-pagination-item
        #products
            .container
                .products-container
                    a.products-item(href="" title="Product Item")
                        .products-item-background
                            img(src="assets/dist/img/products-bg-1.png" alt="Product Background")
                        .products-item-content
                            .products-item-content-title Su Arıtma Sistemleri
                            .products-item-content-image
                                img(src="assets/dist/img/product-1.png" alt="Product")
                        .products-item-button
                            | Ürünleri İncele
                    a.products-item(href="" title="Product Item")
                        .products-item-background
                            img(src="assets/dist/img/products-bg-2.png" alt="Product Background")
                        .products-item-content
                            .products-item-content-title Filtre Grubu
                            .products-item-content-image
                                img(src="assets/dist/img/product-2.png" alt="Product")
                        .products-item-button
                            | Ürünleri İncele
                    a.products-item(href="" title="Product Item")
                        .products-item-background
                            img(src="assets/dist/img/products-bg-3.png" alt="Product Background")
                        .products-item-content
                            .products-item-content-title Yedek Parça ve Filtre Grubu
                            .products-item-content-image
                                img(src="assets/dist/img/product-3.png" alt="Product")
                        .products-item-button
                            | Ürünleri İncele
        #sponsors
            .container
                .sponsors
                    .sponsors-left
                        button.button(type="button")
                            i.icon.icon-sponsors-left-arrow
                    .sponsors-center
                        #sponsorSlide.swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .sponsors-item
                                        img(src="assets/dist/img/sponsors-1.png" alt="Sponsor")
                                .swiper-slide
                                    .sponsors-item
                                        img(src="assets/dist/img/sponsors-2.png" alt="Sponsor")
                                .swiper-slide
                                    .sponsors-item
                                        img(src="assets/dist/img/sponsors-3.png" alt="Sponsor")
                                .swiper-slide
                                    .sponsors-item
                                        img(src="assets/dist/img/sponsors-4.png" alt="Sponsor")
                                .swiper-slide
                                    .sponsors-item
                                        img(src="assets/dist/img/sponsors-5.png" alt="Sponsor")
                                .swiper-slide
                                    .sponsors-item
                                        img(src="assets/dist/img/sponsors-6.png" alt="Sponsor")
                                .swiper-slide
                                    .sponsors-item
                                        img(src="assets/dist/img/sponsors-7.png" alt="Sponsor")
                    .sponsors-right
                        button.button(type="button")
                            i.icon.icon-sponsors-right-arrow
        #subscribe
            .container
                .subscribe-container
                    .subscribe-content
                        h3.subscribe-content-title
                            | Gelişmelerden
                            strong Haberdar Olun
                        p.subscribe-content-text Yeni ürün ve duyurularımızdan anında haberdar olun
                    .subscribe-input
                        input(type="email" placeholder="E-Posta Adresi")
                        button.button(type="button")
                            i.icon.icon-subscribe
        include footer
        script(src="assets/dist/js/bundle/bundle.min.js")
        script(src="js/app.js")