- var genel = static.genelayar;
- var firma = static.firma;
- var kategori = static.kategori;
- function data () {
-   return 1
- }

    include head
        #page-header
            .container
                .page-header-container
                    .page-header-left
                        .page-header-title R.O. Arıtma Sistemleri
                    .page-header-right
                        ul.page-header-breadcrumbs
                            li
                                a(href="" title="Breadcrumbs Item") Anasayfa
                            li
                                a(href="" title="Breadcrumbs Item") Ürünler
                            li
                                span R.O. Arıtma Sistemleri
        #other-products
            .container
                .other-products
                    .other-products-left
                        button.button(type="button")
                            i.icon.icon-sponsors-left-arrow
                    .other-products-center
                        #otherProducts.swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    a.other-products-item.active(href="" title="Other")
                                        img.other-products-item-image(src="assets/dist/img/other-1.png" alt="Other")
                                        span.other-products-item-title Stratos
                                .swiper-slide
                                    a.other-products-item(href="" title="Other")
                                        img.other-products-item-image(src="assets/dist/img/other-2.png" alt="Other")
                                        span.other-products-item-title Stilmax
                                .swiper-slide
                                    a.other-products-item(href="" title="Other")
                                        img.other-products-item-image(src="assets/dist/img/other-3.png" alt="Other")
                                        span.other-products-item-title Ecoplus
                                .swiper-slide
                                    a.other-products-item(href="" title="Other")
                                        img.other-products-item-image(src="assets/dist/img/other-4.png" alt="Other")
                                        span.other-products-item-title Prizma
                                .swiper-slide
                                    a.other-products-item(href="" title="Other")
                                        img.other-products-item-image(src="assets/dist/img/other-5.png" alt="Other")
                                        span.other-products-item-title Safir
                                .swiper-slide
                                    a.other-products-item(href="" title="Other")
                                        img.other-products-item-image(src="assets/dist/img/other-6.png" alt="Other")
                                        span.other-products-item-title Aquabest
                                .swiper-slide
                                    a.other-products-item(href="" title="Other")
                                        img.other-products-item-image(src="assets/dist/img/other-7.png" alt="Other")
                                        span.other-products-item-title Hf Serileri
                    .other-products-right
                        button.button(type="button")
                            i.icon.icon-sponsors-right-arrow
        #all-products
            .all-products-item
                .container
                    .row.all-products-row
                        .col-md-9
                            h2.all-products-title Stratos
                            h5.all-products-headline Reserve Osmosis Systems
                            p.all-products-description
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultricies finibus magna, nec lacinia ex imperdiet ut. Duis sit amet tincidunt mi. Nunc non mi ac purus laoreet ultricies non sit amet enim.
                            img.all-products-image(src="assets/dist/img/all-products-1.png" alt="Product")
                            a.button.all-products-button(href="" title="Ürünü İncele") Ürünü İncele
            .all-products-item
                .container
                    .row.all-products-row
                        .col-md-9
                            h2.all-products-title Stratos
                            h5.all-products-headline Reserve Osmosis Systems
                            p.all-products-description
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultricies finibus magna, nec lacinia ex imperdiet ut. Duis sit amet tincidunt mi. Nunc non mi ac purus laoreet ultricies non sit amet enim.
                            img.all-products-image(src="assets/dist/img/all-products-1.png" alt="Product")
                            a.button.all-products-button(href="" title="Ürünü İncele") Ürünü İncele
            .all-products-item
                .container
                    .row.all-products-row
                        .col-md-9
                            h2.all-products-title Stratos
                            h5.all-products-headline Reserve Osmosis Systems
                            p.all-products-description
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultricies finibus magna, nec lacinia ex imperdiet ut. Duis sit amet tincidunt mi. Nunc non mi ac purus laoreet ultricies non sit amet enim.
                            img.all-products-image(src="assets/dist/img/all-products-1.png" alt="Product")
                            a.button.all-products-button(href="" title="Ürünü İncele") Ürünü İncele
        #sponsors
            .container
                .sponsors
                    .sponsors-left
                        button.button(type="button")
                            i.icon.icon-sponsors-left-arrow
                    .sponsors-center
                        #sponsorSlide.swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .sponsors-item
                                        img(src="assets/dist/img/sponsors-1.png" alt="Sponsor")
                                .swiper-slide
                                    .sponsors-item
                                        img(src="assets/dist/img/sponsors-2.png" alt="Sponsor")
                                .swiper-slide
                                    .sponsors-item
                                        img(src="assets/dist/img/sponsors-3.png" alt="Sponsor")
                                .swiper-slide
                                    .sponsors-item
                                        img(src="assets/dist/img/sponsors-4.png" alt="Sponsor")
                                .swiper-slide
                                    .sponsors-item
                                        img(src="assets/dist/img/sponsors-5.png" alt="Sponsor")
                                .swiper-slide
                                    .sponsors-item
                                        img(src="assets/dist/img/sponsors-6.png" alt="Sponsor")
                                .swiper-slide
                                    .sponsors-item
                                        img(src="assets/dist/img/sponsors-7.png" alt="Sponsor")
                    .sponsors-right
                        button.button(type="button")
                            i.icon.icon-sponsors-right-arrow
        #subscribe
            .container
                .subscribe-container
                    .subscribe-content
                        h3.subscribe-content-title
                            | Gelişmelerden
                            strong Haberdar Olun
                        p.subscribe-content-text Yeni ürün ve duyurularımızdan anında haberdar olun
                    .subscribe-input
                        input(type="email" placeholder="E-Posta Adresi")
                        button.button(type="button")
                            i.icon.icon-subscribe
        footer#footer
            .footer
                .container
                    .row
                        .col-md-3
                            h3.footer-title Su Arıtma Ürünleri
                            ul.footer-list
                                li
                                    a(href="" title="List Item") Stratos
                                li
                                    a(href="" title="List Item") Stilmax
                                li
                                    a(href="" title="List Item") Ecoplus
                                li
                                    a(href="" title="List Item") Prizma
                                li
                                    a(href="" title="List Item") Safir
                                li
                                    a(href="" title="List Item") Aquabest
                                li
                                    a(href="" title="List Item") Hf Serileri
                                li
                                    a(href="" title="List Item") Direk Akışlı Sistemler
                                li
                                    a(href="" title="List Item") Sebiller
                                li
                                    a(href="" title="List Item") Endüstriyel R.O. Sistemler
                                li
                                    a(href="" title="List Item") Kabinetli Sistemler
                        .col-md-3
                            h3.footer-title Su Arıtma Ürünleri
                            ul.footer-list
                                li
                                    a(href="" title="List Item") Stratos
                                li
                                    a(href="" title="List Item") Stilmax
                                li
                                    a(href="" title="List Item") Ecoplus
                                li
                                    a(href="" title="List Item") Prizma
                                li
                                    a(href="" title="List Item") Safir
                                li
                                    a(href="" title="List Item") Aquabest
                                li
                                    a(href="" title="List Item") Hf Serileri
                                li
                                    a(href="" title="List Item") Direk Akışlı Sistemler
                                li
                                    a(href="" title="List Item") Sebiller
                                li
                                    a(href="" title="List Item") Endüstriyel R.O. Sistemler
                                li
                                    a(href="" title="List Item") Kabinetli Sistemler
                        .col-md-3
                            h3.footer-title Su Arıtma Ürünleri
                            ul.footer-list
                                li
                                    a(href="" title="List Item") Stratos
                                li
                                    a(href="" title="List Item") Stilmax
                                li
                                    a(href="" title="List Item") Ecoplus
                                li
                                    a(href="" title="List Item") Prizma
                                li
                                    a(href="" title="List Item") Safir
                                li
                                    a(href="" title="List Item") Aquabest
                                li
                                    a(href="" title="List Item") Hf Serileri
                                li
                                    a(href="" title="List Item") Direk Akışlı Sistemler
                                li
                                    a(href="" title="List Item") Sebiller
                                li
                                    a(href="" title="List Item") Endüstriyel R.O. Sistemler
                                li
                                    a(href="" title="List Item") Kabinetli Sistemler
                        .col-md-3
                            h3.footer-title Bizi Takip Edin
                            .footer-social
                                a.button(href="" title="Social")
                                    i.icon.icon-footer-facebook
                                a.button(href="" title="Social")
                                    i.icon.icon-footer-twitter
                                a.button(href="" title="Social")
                                    i.icon.icon-footer-instagram
            .copyright
                | Copyright © 2018 Aquaturk Inc. Tüm hakları saklıdır.
        script(src="assets/dist/js/bundle/bundle.min.js")
