extends layout

block content
   .content-page
    // Start content
    .content
        .container-fluid
            // Page-Title
            .row
                .col-sm-12

                    h4.page-title Genel Ayar
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href='#') Admin
                        li.breadcrumb-item
                            a(href='#') Genel Ayar

                 // container
                // content
            .row
              .col-sm-12
                .card-box
                  h4.m-t-0.m-b-20.header-title
                    b Genel Ayarlar
                  .row
                     .col-12
                        .p-20
                            form#rendered-form(action="",method="post")
                                .rendered-form
                                    div
                                       // h1#control-1096450 GENEL AYAR
                                    .fb-text.form-group.field-text-1528469306346
                                        label.fb-text-label(for='text-1528469306346')
                                            | Site Adresi
                                        input#text-1528469306346.form-control(type='text', name='siteUrl' , required='required', aria-required='true' , value=""+siteUrl)
                                        .fb-button.form-group.field-button-1528469284759
                                        label.fb-text-label(for='text-1528469306346')
                                            | Site Başlığı
                                        input#text-1528469306346.form-control(type='text', name='title' , required='required', aria-required='true' , value="" + title)
                                        .fb-button.form-group.field-button-1528469284759
                                        label.fb-text-label(for='text-1528469306346')
                                            | Site Açıklama
                                        textarea#text-1528469306346.form-control(type='text', name='description' )
                                            | #{description}
                                        .fb-button.form-group.field-button-1528469284759
                                        label.fb-text-label(for='text-1528469306346')
                                            | Site Anahtar Kelime
                                        input#text-1528469306346.form-control(type='text', name='keywords' , required='required', aria-required='true' , value="" + keywords)
                                        .fb-button.form-group.field-button-1528469284759
                                        label.fb-text-label(for='text-1528469306346')
                                            | Copyright
                                        input#text-1528469306346.form-control(type='text', name='copyright' , required='required', aria-required='true' , value="" + copyright)
                                        .fb-button.form-group.field-button-1528469284759

                                        .fb-button.form-group.field-button-1528469284759
                                         label.fb-text-label Şalter
                                         br

                                         label.radio-inline
                                           - if(Salter===0) { var c = true }else{ var c = false; }
                                            input(type='radio',name="salter", value='1' ,class="cx-radio", checked=c )
                                            | Siteyi Kapat
                                         label.radio-inline
                                            input(type='radio',name="salter", value='0' ,class="cx-radio"  )
                                            | Siteyi Aç





                                        .fb-button.form-group.field-button-1528469284759
                                        button#button-1528469284759.btn.btn-info(type='submit', name='button-1528469284759', style='info') Güncelle

