doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='A fully featured admin theme which can be used to build CRM, CMS, etc.')
        meta(name='author', content='Coderthemes')
        link(rel='shortcut icon', href='assets/images/favicon.ico')
        title Admin Panel
        link(href='/admin/assets/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        link(href='/admin/assets/css/icons.css', rel='stylesheet', type='text/css')
        link(href='/admin/assets/css/style.css', rel='stylesheet', type='text/css')
        script(src='/admin/assets/js/modernizr.min.js')
    body.fixed-left
      // Begin page
      #wrapper
        include doc/ust
        include doc/slideMenu
        include doc/footer
        include doc/sidebar
      include doc/script
block content