        // Right Sidebar
.side-bar.right-bar.nicescroll
        h4.text-center Chat
        .contact-list.nicescroll
          ul.list-group.contacts-list
            li.list-group-item
              a(href='#')
                .avatar
                  img(src='assets/images/users/avatar-1.jpg', alt='')
                span.name Chadengle
                i.fa.fa-circle.online
              span.clearfix
            li.list-group-item
              a(href='#')
                .avatar
                  img(src='assets/images/users/avatar-2.jpg', alt='')
                span.name Tomaslau
                i.fa.fa-circle.online
              span.clearfix
            li.list-group-item
              a(href='#')
                .avatar
                  img(src='assets/images/users/avatar-3.jpg', alt='')
                span.name Stillnotdavid
                i.fa.fa-circle.online
              span.clearfix
            li.list-group-item
              a(href='#')
                .avatar
                  img(src='assets/images/users/avatar-4.jpg', alt='')
                span.name Kurafire
                i.fa.fa-circle.online
              span.clearfix
            li.list-group-item
              a(href='#')
                .avatar
                  img(src='assets/images/users/avatar-5.jpg', alt='')
                span.name Shahedk
                i.fa.fa-circle.away
              span.clearfix
            li.list-group-item
              a(href='#')
                .avatar
                  img(src='assets/images/users/avatar-6.jpg', alt='')
                span.name Adhamdannaway
                i.fa.fa-circle.away
              span.clearfix
            li.list-group-item
              a(href='#')
                .avatar
                  img(src='assets/images/users/avatar-7.jpg', alt='')
                span.name Ok
                i.fa.fa-circle.away
              span.clearfix
            li.list-group-item
              a(href='#')
                .avatar
                  img(src='assets/images/users/avatar-8.jpg', alt='')
                span.name Arashasghari
                i.fa.fa-circle.offline
              span.clearfix
            li.list-group-item
              a(href='#')
                .avatar
                  img(src='assets/images/users/avatar-9.jpg', alt='')
                span.name Joshaustin
                i.fa.fa-circle.offline
              span.clearfix
            li.list-group-item
              a(href='#')
                .avatar
                  img(src='assets/images/users/avatar-10.jpg', alt='')
                span.name Sortino
                i.fa.fa-circle.offline
              span.clearfix
      // /Right-bar