.left.side-menu
    .sidebar-inner.slimscrollleft
        // - Divider
        #sidebar-menu
            ul
                li.text-muted.menu-title Navigation
                li.has_sub
                    a.waves-effect(href='/admin')
                        i.ti-home
                        span  Dashboard
                        span.menu-arrow

                li.has_sub
                    a.waves-effect(href='javascript:void(0);')
                        i.ti-settings
                        span   Ayarlar
                        span.menu-arrow
                    ul.list-unstyled
                        li
                            a(href='genelayar') Genel Ayarlar
                        li
                            a(href='firma') Firma Ayarlar覺
                        li
                            a(href='mailAyar') Mail Ayarlar覺

                        li
                            a(href='google') Google Ayarlar覺
                        li
                            a(href='soscial') Sosyal Medya Ayarlar覺





            .clearfix
        .clearfix
// Left Sidebar End