#subscribe
    .container
      .subscribe-container
        .subscribe-content
            h3.subscribe-content-title
              | Gelişmelerden 
              strong Haberdar Olun
            p.subscribe-content-text Yeni ürün ve duyurularımızdan anında haberdar olun
        .subscribe-input
            form#ebultenForm
                input(type='email', name='eposta', placeholder='E-Posta Adresi')
                button.button.ebultenYolla(name='formName', value='ebultenForm', type='button')
                    i.icon.icon-subscribe