#products
      .container
        .products-container
          a.products-item(href='/Urunler', title='Product Item')
            .products-item-background
              img(src='assets/dist/img/products-bg-1.png', alt='Product Background')
            .products-item-content
              .products-item-content-title Su Arıtma Sistemleri
              .products-item-content-image
                img(src='assets/dist/img/product-1.png', alt='Product')
            .products-item-button
              | Ürünleri İncele
          a.products-item(href='', title='Product Item')
            .products-item-background
              img(src='assets/dist/img/products-bg-2.png', alt='Product Background')
            .products-item-content
              .products-item-content-title Filtre Grubu
              .products-item-content-image
                img(src='assets/dist/img/product-2.png', alt='Product')
            .products-item-button
              | Ürünleri İncele
          a.products-item(href='', title='Product Item')
            .products-item-background
              img(src='assets/dist/img/products-bg-3.png', alt='Product Background')
            .products-item-content
              .products-item-content-title Yedek Parça ve Filtre Grubu
              .products-item-content-image
                img(src='assets/dist/img/product-3.png', alt='Product')
            .products-item-button
              | Ürünleri İncele