#hero
      #heroSlider.swiper-container
        .swiper-wrapper
         -for(var y =0; y < res.slider.length; y++){
          .swiper-slide
            .hero-item
              .hero-item-image


                 img(src='/images/'+res.slider[y].bgresim, alt=''+res.slider[y].title)


              .hero-item-content
                .container
                  h2.hero-item-content-title
                    strong #{res.slider[y].title}
                  p.hero-item-content-text
                    | #{res.slider[y].info}
                  -if(!res.slider[y].html){
                  img.hero-item-content-image( width='650' src='/images/'+res.slider[y].resim, alt=''+res.slider[y].title)
                  -}else{
                  #{res.slider[y].html}
                  -}
         -}
          
          
          
          
      .hero-pagination
        span.hero-pagination-item.active
        span.hero-pagination-item
        span.hero-pagination-item