<!DOCTYPE html>
<html lang="tr">
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <title>Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#fff">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="assets/dist/css/custom/custom.css">

</head>
<body>

<header id="header">
    <div class="header-top">
        <div class="container">
            <div class="header-top-container">
                <div class="header-top-left">
                    <a class="header-top-phone" href="tel: 4447472" title=" 444 7 HSC (472)"><i class="icon icon-header-phone"></i>444 7 HSC (472)</a>
                </div>
                <div class="header-top-right">
                    <div class="header-top-search">
                        <button class="button" type="submit"><i class="icon icon-header-search"></i></button>
                        <input type="text" placeholder="Aranacak Kelime">
                    </div>
                    <div class="header-top-language">
                        <button class="button header-top-language-button" type="button">Türkçe <i class="icon icon-header-language-caret"></i></a>
                            <div class="header-top-language-dropdown">
                                <a class="header-top-language-dropdown-link" href="" title="Language">English</a>
                                <a class="header-top-language-dropdown-link" href="" title="Language">Türkçe</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom-container">
                <div class="header-bottom-logo">
                    <a href="" title="AquaTurk">
                        <img src="assets/dist/img/logo.png" alt="AquaTurk">
                    </a>
                </div>
                <div class="header-bottom-menu">
                    <nav>
                        <ul class="header-bottom-menu-list hidden-sm hidden-xs hidden-xxs">
                            <li class="header-bottom-menu-list-item">
                                <a href="" title="Menu Item">Anasayfa</a>
                            </li>
                            <li class="header-bottom-menu-list-item">
                                <a href="" title="Menu Item">Hakkımızda</a>
                            </li>
                            <li class="header-bottom-menu-list-item">
                                <a href="" title="Menu Item">Ürünler <i class="icon icon-header-menu-caret"></i></a>
                                <ul class="header-bottom-menu-list-dropdown">
                                    <li><a href="" title="Menu Item">Ürünler</a></li>
                                    <li><a href="" title="Menu Item">Ürünler</a></li>
                                    <li><a href="" title="Menu Item">Ürünler</a></li>
                                    <li><a href="" title="Menu Item">Ürünler</a></li>
                                </ul>
                            </li>
                            <li class="header-bottom-menu-list-item">
                                <a href="" title="Menu Item">İletişim</a>
                            </li>
                        </ul>
                        <button class="button button-mobile-menu hidden-lg hidden-md" type="button"><i class="icon icon-header-bars"></i></button>
                    </nav>
                </div>
            </div>
        </div>
        <div class="header-bottom-dropdown hidden-lg hidden-md">
            <ul class="header-bottom-dropdown-list">
                <li class="header-bottom-dropdown-list-item">
                    <a href="" title="Menu Item">Anasayfa</a>
                </li>
                <li class="header-bottom-dropdown-list-item">
                    <a href="" title="Menu Item">Hakkımızda</a>
                </li>
                <li class="header-bottom-dropdown-list-item">
                    <a href="" title="Menu Item">Ürünler</a>
                </li>
                <li class="header-bottom-dropdown-list-item">
                    <a href="" title="Menu Item">İletişim</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div id="page-header">
    <div class="container">
        <div class="page-header-container">
            <div class="page-header-left">
                <div class="page-header-title">R.O. Arıtma Sistemleri</div>
            </div>
            <div class="page-header-right">
                <ul class="page-header-breadcrumbs">
                    <li><a href="" title="Breadcrumbs Item">Anasayfa</a></li>
                    <li><a href="" title="Breadcrumbs Item">Ürünler</a></li>
                    <li><span>R.O. Arıtma Sistemleri</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="other-products">
    <div class="container">
        <div class="other-products">
            <div class="other-products-left">
                <button class="button" type="button"><i class="icon icon-sponsors-left-arrow"></i></button>
            </div>
            <div class="other-products-center">
                <div id="otherProducts" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a class="other-products-item active" href="" title="Other">
                                <img class="other-products-item-image" src="assets/dist/img/other-1.png" alt="Other">
                                <span class="other-products-item-title">Stratos</span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="other-products-item" href="" title="Other">
                                <img class="other-products-item-image" src="assets/dist/img/other-2.png" alt="Other">
                                <span class="other-products-item-title">Stilmax</span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="other-products-item" href="" title="Other">
                                <img class="other-products-item-image" src="assets/dist/img/other-3.png" alt="Other">
                                <span class="other-products-item-title">Ecoplus</span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="other-products-item" href="" title="Other">
                                <img class="other-products-item-image" src="assets/dist/img/other-4.png" alt="Other">
                                <span class="other-products-item-title">Prizma</span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="other-products-item" href="" title="Other">
                                <img class="other-products-item-image" src="assets/dist/img/other-5.png" alt="Other">
                                <span class="other-products-item-title">Safir</span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="other-products-item" href="" title="Other">
                                <img class="other-products-item-image" src="assets/dist/img/other-6.png" alt="Other">
                                <span class="other-products-item-title">Aquabest</span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="other-products-item" href="" title="Other">
                                <img class="other-products-item-image" src="assets/dist/img/other-7.png" alt="Other">
                                <span class="other-products-item-title">Hf Serileri</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="other-products-right">
                <button class="button" type="button"><i class="icon icon-sponsors-right-arrow"></i></button>
            </div>
        </div>
    </div>
</div>

<div id="all-products">
    <div class="all-products-item">
        <div class="container">
            <div class="row all-products-row">
                <div class="col-md-9">
                    <h2 class="all-products-title">Stratos</h2>
                    <h5 class="all-products-headline">Reserve Osmosis Systems</h5>
                    <p class="all-products-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultricies finibus magna, nec lacinia ex imperdiet ut. Duis sit amet tincidunt mi. Nunc non mi ac purus laoreet ultricies non sit amet enim.
                    </p>
                    <img class="all-products-image" src="assets/dist/img/all-products-1.png" alt="Product">
                    <a class="button all-products-button" href="" title="Ürünü İncele">Ürünü İncele</a>
                </div>
            </div>
        </div>
    </div>
    <div class="all-products-item">
        <div class="container">
            <div class="row all-products-row">
                <div class="col-md-9">
                    <h2 class="all-products-title">Stratos</h2>
                    <h5 class="all-products-headline">Reserve Osmosis Systems</h5>
                    <p class="all-products-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultricies finibus magna, nec lacinia ex imperdiet ut. Duis sit amet tincidunt mi. Nunc non mi ac purus laoreet ultricies non sit amet enim.
                    </p>
                    <img class="all-products-image" src="assets/dist/img/all-products-1.png" alt="Product">
                    <a class="button all-products-button" href="" title="Ürünü İncele">Ürünü İncele</a>
                </div>
            </div>
        </div>
    </div>
    <div class="all-products-item">
        <div class="container">
            <div class="row all-products-row">
                <div class="col-md-9">
                    <h2 class="all-products-title">Stratos</h2>
                    <h5 class="all-products-headline">Reserve Osmosis Systems</h5>
                    <p class="all-products-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultricies finibus magna, nec lacinia ex imperdiet ut. Duis sit amet tincidunt mi. Nunc non mi ac purus laoreet ultricies non sit amet enim.
                    </p>
                    <img class="all-products-image" src="assets/dist/img/all-products-1.png" alt="Product">
                    <a class="button all-products-button" href="" title="Ürünü İncele">Ürünü İncele</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="sponsors">
    <div class="container">
        <div class="sponsors">
            <div class="sponsors-left">
                <button class="button" type="button"><i class="icon icon-sponsors-left-arrow"></i></button>
            </div>
            <div class="sponsors-center">
                <div id="sponsorSlide" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><div class="sponsors-item"><img src="assets/dist/img/sponsors-1.png" alt="Sponsor"></div></div>
                        <div class="swiper-slide"><div class="sponsors-item"><img src="assets/dist/img/sponsors-2.png" alt="Sponsor"></div></div>
                        <div class="swiper-slide"><div class="sponsors-item"><img src="assets/dist/img/sponsors-3.png" alt="Sponsor"></div></div>
                        <div class="swiper-slide"><div class="sponsors-item"><img src="assets/dist/img/sponsors-4.png" alt="Sponsor"></div></div>
                        <div class="swiper-slide"><div class="sponsors-item"><img src="assets/dist/img/sponsors-5.png" alt="Sponsor"></div></div>
                        <div class="swiper-slide"><div class="sponsors-item"><img src="assets/dist/img/sponsors-6.png" alt="Sponsor"></div></div>
                        <div class="swiper-slide"><div class="sponsors-item"><img src="assets/dist/img/sponsors-7.png" alt="Sponsor"></div></div>
                    </div>
                </div>
            </div>
            <div class="sponsors-right">
                <button class="button" type="button"><i class="icon icon-sponsors-right-arrow"></i></button>
            </div>
        </div>
    </div>
</div>

<div id="subscribe">
    <div class="container">
        <div class="subscribe-container">
            <div class="subscribe-content">
                <h3 class="subscribe-content-title">Gelişmelerden <strong>Haberdar Olun</strong></h3>
                <p class="subscribe-content-text">Yeni ürün ve duyurularımızdan anında haberdar olun</p>
            </div>
            <div class="subscribe-input">
                <input type="email" placeholder="E-Posta Adresi">
                <button class="button" type="button"><i class="icon icon-subscribe"></i></button>
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3 class="footer-title">Su Arıtma Ürünleri</h3>
                    <ul class="footer-list">
                        <li><a href="" title="List Item">Stratos</a></li>
                        <li><a href="" title="List Item">Stilmax</a></li>
                        <li><a href="" title="List Item">Ecoplus</a></li>
                        <li><a href="" title="List Item">Prizma</a></li>
                        <li><a href="" title="List Item">Safir</a></li>
                        <li><a href="" title="List Item">Aquabest</a></li>
                        <li><a href="" title="List Item">Hf Serileri</a></li>
                        <li><a href="" title="List Item">Direk Akışlı Sistemler</a></li>
                        <li><a href="" title="List Item">Sebiller</a></li>
                        <li><a href="" title="List Item">Endüstriyel R.O. Sistemler</a></li>
                        <li><a href="" title="List Item">Kabinetli Sistemler</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 class="footer-title">Su Arıtma Ürünleri</h3>
                    <ul class="footer-list">
                        <li><a href="" title="List Item">Stratos</a></li>
                        <li><a href="" title="List Item">Stilmax</a></li>
                        <li><a href="" title="List Item">Ecoplus</a></li>
                        <li><a href="" title="List Item">Prizma</a></li>
                        <li><a href="" title="List Item">Safir</a></li>
                        <li><a href="" title="List Item">Aquabest</a></li>
                        <li><a href="" title="List Item">Hf Serileri</a></li>
                        <li><a href="" title="List Item">Direk Akışlı Sistemler</a></li>
                        <li><a href="" title="List Item">Sebiller</a></li>
                        <li><a href="" title="List Item">Endüstriyel R.O. Sistemler</a></li>
                        <li><a href="" title="List Item">Kabinetli Sistemler</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 class="footer-title">Su Arıtma Ürünleri</h3>
                    <ul class="footer-list">
                        <li><a href="" title="List Item">Stratos</a></li>
                        <li><a href="" title="List Item">Stilmax</a></li>
                        <li><a href="" title="List Item">Ecoplus</a></li>
                        <li><a href="" title="List Item">Prizma</a></li>
                        <li><a href="" title="List Item">Safir</a></li>
                        <li><a href="" title="List Item">Aquabest</a></li>
                        <li><a href="" title="List Item">Hf Serileri</a></li>
                        <li><a href="" title="List Item">Direk Akışlı Sistemler</a></li>
                        <li><a href="" title="List Item">Sebiller</a></li>
                        <li><a href="" title="List Item">Endüstriyel R.O. Sistemler</a></li>
                        <li><a href="" title="List Item">Kabinetli Sistemler</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 class="footer-title">Bizi Takip Edin</h3>
                    <div class="footer-social">
                        <a class="button" href="" title="Social"><i class="icon icon-footer-facebook"></i></a>
                        <a class="button" href="" title="Social"><i class="icon icon-footer-twitter"></i></a>
                        <a class="button" href="" title="Social"><i class="icon icon-footer-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        Copyright © 2018 Aquaturk Inc. Tüm hakları saklıdır.
    </div>
</footer>

<script src="assets/dist/js/bundle/bundle.min.js"></script>
</body>
</html>
